* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.header {
     height: 80px;
     background-color: rgba(238, 238, 238, 0.907);
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-direction: row;
     padding: 30px 10px;
     position: fixed;
     width: 100%;
}

.nav__logo {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 50px;
}

.nav__logo p {
     color: #646cff;
     font-size: 2rem;
     cursor: pointer;
     font-weight: 700;
     letter-spacing: 1.2px;
}

.nav__list {
     list-style: none;
     color: black;
     display: flex;
     justify-content: space-around;
     gap: 50px;
}

.nav__item a {
     padding: 5px 15px;
     color: #646cff;
     display: flex;
     width: 100%;
     justify-content: center;
     align-items: center;
}

.nav__contact {
     
}